@page "/Error"

<PageTitle>Error</PageTitle>

<div class="container p-4">
    <div class="lead mb-2">
        ⚠️ An unhandled error has occurred.
    </div>
    <a href="./" class="btn btn-outline-primary">Reload</a>
</div>

