@page "/404"

<PageTitle>404 - Page Not Found</PageTitle>

<HeadContent>
    <meta name="robots" content="noindex"/>
</HeadContent>

<div class="display-1 mb-2">4🙃4</div>
<div class="lead mb-2">Whoops, the page you are looking for seems to be unavailable...</div>
<a href="./" class="btn btn-outline-primary">Home</a>
